/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-362a37a69287e22e06fa.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/.cmake/api/v1/reply/target-ege27-Debug-b54ebb245e80e16dadc3.json
/cmake-build-debug/CMakeFiles/rules.ninja
/CMakeLists.txt
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-52ed4a156090d901dbb3.json
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/.idea/ege27.iml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-59e5a149ff6fc1d38b5d.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b9d72000840cc3cdea2a.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2021-12-17T21-09-16-0866.json
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/.idea/workspace.xml
*.xml
